body{
    --color-body-bg: var(--color-backspace);
    font:   var(--fz) / var(--lh) var(--ff-1);
    display: grid;
    align-items: start;
    grid-template-rows: auto 1fr auto ;
    gap: 60px   ;
    overflow-x: auto ;
    position: relative;
    background: var(--color-body-bg);
    @media only screen and (min-width:$mdCnt){
        grid-template-columns: auto 1fr;
        gap: 40px 35px  ;
        padding-top: 40px;
    }
}
* , *:before , *:after{
    box-sizing: border-box;
}